<footer class="inverted">
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
    <div class="module">
      <p class="module-tite">Over</p>
      <p>Deze site is een ode aan Het Journaal op de VRT. Het vertelt de geschiedenis van het nieuws met verschillende ankers en Journaal-decors door de jaren heen.</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="module">
      <p class="module-tite">Contact</p>
      <p>Suggesties? Aanvullingen? Of heb je zelf een triviaal weetje over <cite>Het Journaal</cite>?</p>
      <p><a href="mailto:{{ site.email }}" class="btn btn-inverse">Contact</a></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="module">
    <p class="module-title">Homo Journalius op Facebook</p>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhjournalius&tabs=&width=500&height=155&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1910733755877894" width="100%" height="155" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>

  </div>
  </div>
</footer>
