<div class="module">
<p class="module-title">Niet te missen</p>
<div class="moments size-{{page.moments.size}}">
{% for moment in page.moments %}
  <div class="moment">
    <a class="moment-stamp seek" data-sec="{{moment.timestamp}}">{{ moment.timestamp | divided_by: 60 | plus: 100 | slice: 1, 2 }}:{{ moment.timestamp | modulo: 60 | plus: 100 | slice: 1, 2 }}
    </a>
    <a class="moment-link seek" data-sec="{{moment.timestamp}}">
      <span class="moment-description">{{moment.description}}</span>
    </a>
  </div>
{% endfor %}
</div>
</div>
