<div class="post-teaser">
  <div class="post-image">
  <a class="post-link {{include.set}}" href="{{ include.url | relative_url }}">
    <figure class="post-thumb" style="background-image: url('http://img.youtube.com/vi/{{include.youtubeid}}/hqdefault.jpg')">
    </figure>
  </a>
  </div>
  <div class="post-text">
  <div class="module">
    <p class="module-title"><a href="{{ include.url | relative_url }}">
    <span class="post-meta">{% include datum.html date=include.date %}<br/>
    <strong>{{ include.title }}</strong></span></a></p>
  </div>
  </div>
</div>
