<div class="module">
  <p class="module-title">Set</p>
  {% if page.ankers.size > 1 %}
    {% assign type = "compact" %}
  {% else %}
    {% assign type = "full" %}
  {% endif %}
  {% for set in site.set %}
  {% unless set.title != page.decor %}
  <div class="set {{type}}">
    <a href="{{set.url}}">
      <figure class="set-image">
        {% capture icon %}/svg/decors/{{set.icon}}.svg{% endcapture %}
        {% include {{icon}} %}
      </figure>
      <p class="set-title"><span class="text-link">{{set.title}}</span></p>
    </a>
  </div>
  {% endunless %}
  {% endfor %}
</div>
