{% if include.ratio == "" }
  {% assign ratio = 16_9 %}
{% else %}
  {% assign ratio = include.ratio %}
{% endif %}

{% if include.starttime %}
  {% assign starttime = include.starttime %}
{% else %}
  {% assign starttime = 0 %}
{% endif %}

{% if include.endtime %}
  {% assign endtime = include.endtime %}
{% else %}
  {% assign endtime = 0 %}
{% endif %}

<div class="videoWrapper ratio_{{ratio}}">

<div id="player"></div>
</div>

<script>
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      playerVars: {
        start: {{starttime}}},
      videoId: '{{ include.youtubeid }}'
    });
  }

  function seekTo(seconds){
    player.seekTo(seconds)
  }

</script>
