---
---

@import 'grid';

@import url('https://fonts.googleapis.com/css?family=Poppins:500, 700');

$body-background: #FFF; //#E9EAEA;
$body-color: #2B2E33;
$border-color: rgba(0,0,0,0.25);
$border-alt-color: rgba(255,255,255,0.25);
$body-muted: #5E5E5E;
$link-color: #000; //#0922ec; //#3778FF; //#0922ec;
$alt: #F5F4EF; // #EDEDED;

h1, h2, h3, h4, h5, h6 {
  @extend .accent;
}

.pagetitle {
  @extend .accent;

  font-size: 40px;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 15px;
}

.accent {
  font-family: Poppins;
  font-weight: 700;
}

.posts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  display: flex;
}

.posts-listitem {
  display: inline-block;
  width: 75vw;
  background-position: center center;
  border-right: 1px solid $border-color;
  padding: 0 15px;

  @media screen and (min-width: 767px) {
    width: 20vw;
  }

}

.posts-list .posts-listitem:first-child {
  padding-left: 0;
}

.posts-list .posts-listitem:last-child {
  border: 0;
  padding-right: 0;
}

.post-link {
  position: relative;
  padding-top: 75%;
  display: block;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.post-meta {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: inline-block;
  color: #FFF;
  font-size: 85%;
}

.video {
  width: 100%;
  padding: 15px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //font-size: 14px;
  margin: 0;
  padding: 0;
  //font-family: "Graphik", Helvetica, Arial, serif;
  //font-family: Montserrat;
  //font-weight: 400;
  font-size: 15px;
  line-height: 1.857;
  background: $body-background; //#F7F7F7;
  color: $body-color; //#262930;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $link-color; //#004fb6;
  text-decoration: none;
}

.site-header {
  font-size: 1em;
  padding: 10px 0;
  overflow: hidden;
}

.site-home {
  float: left;
}

.site-home:before {
  content: " ";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.site-home {
  padding-left: 50px;
  position: relative;
}

.site-title {
  @extend .accent;
  font-size: 18px;
  font-weight: bold;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.1;
}

.site-baseline {
  font-size: 13px;
  color: $body-muted;
  text-transform: none;
  font-weight: normal;
  display: block;
  line-height: 1.5;
}

.site-menuitem {
  float: left;
}

dl {
  border: 0;
  border-style: solid;
  border-top-width: 1px;
  border-color: $border-color;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

dt {
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0 15px 0;
  font-weight: 100;
}

dd {
  padding: 0;
  margin: 0;
  position: relative;
  // margin-left: 25%;
}

.block-title {
  font-weight: 300;
  color: $body-muted;
  text-transform: uppercase;
}

.videoWrapper {
	position: relative;
	padding-top: 25px;
	height: 0;
}

.ratio_4_3 {
	padding-bottom: 75%;
}

.ratio_16_9 {
	padding-bottom: 56.25%;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.post-title {
  @extend .accent;

  color: rgba(255, 255, 255, 0.85);
  font-size: 3rem;
  margin: 0;
  //border-bottom: 1px solid $border-color;

  &:after {
    content: '—';
    display: block;
  }
}

.post {

  .set-image,
  .anchor-image {
    margin: 0;
    padding: 0;
    //background-color: rgba(255, 255, 255, 0.1);

    svg {
      width: 100%;
      height: auto;
      /*fill: #222 !important;
      stroke: #222 !important;*/
     }
  }

}

.set-title {
  text-align: left;
  font-weight: normal;
}

.anchor-description {
  border-bottom: 1px solid $border-color;
}

.trivia-description {
  ul {
    list-style-type: square;
    color: #777;

    li {
      color: #222;
      font-weight: normal;
    }
  }
}

dl > .anchor-description:last-child {
  border: 0px;
}

.video {
  background-color: #474D65;
  padding: 15px;
  overflow: hidden;
  color: #000;

   a {
     color: #000;
   }
}

.set-2016 .video {
  $c2016: #009EBB;
  background-color: $c2016;
  color: darken($c2016, 20%);

  dt {
    color: rgba(255, 255, 255, 0.35);
  }
}

.set-2013-2016 .video {
  $c2013: #E1E2E8;
  background-color: $c2013;
  color: darken($c2013, 33%);
}

.set-2008-2013 .video {
  $c2008: #1B1D1F;
  background-color: $c2008;
  color: lighten($c2008, 50%);
}

.set-2002-2008 .video {
  $c2002: #8B86A2;
  background-color: $c2002;
  color: lighten($c2002, 50%);
}

.set-1997-2002 .video {
  $c1997: #EFB759;
  background-color: $c1997;
  color: darken($c1997, 50%);
}

.set-1996-1997 .video {
  $c1996: #5D7AA7;
  background-color: $c1996;
  color: darken($c1996, 27.5%);
}

.set-1994-1996 .video {
  background-color: #A9BE92;
}

.set-1989-1994 .video {
  background-color: #43504B;
}

.set-1987-1989 .video {
  $c1987: #A48760;
  background-color: $c1987;
  color: darken($c1987, 27.5%);
}

.set-1981-1987 .video {
  $c1981: #5E5F5E;
  background-color: $c1981;
  color: darken($c1981, 33%);
}

.set-1977-1981 .video {
  $c1977: #4B6D19;
  background-color: $c1977;
  color: darken($c1977, 33%);
}

.post-date {
  display: inline-block;
  clear: both;

  .day {
    @extend .accent;
    font-size: 45px;
    line-height: 1;
    float: left;
    display: inline-block;
    margin-right: 5px;
  }

  .aside {
    float: left;
  }

  .month-year {
    line-height: 25px;
    font-weight: 600;
    float: left;
  }

  .time {
    line-height: 25px;
    font-weight: 300;
    float: left;
    clear: both;
  }
}

.set-colors {
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    width: 12.5%;
    display: list-item;
    text-align: -webkit-match-parent;

    span {
      display: inline-block;
      float: left;
      width: 100%;
      height: 1em;
      text-indent: -9999px;

      &:hover {
        background-image: none;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      }
    }

    &:first-child span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}


.site-nav {
  @extend .accent;
  font-weight: 500;

  float: right;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-transform: lowercase;

  @media screen and (min-width: 767px) {
      font-size: 22px;
  }

  a {
    padding: 10px 25px 10px 0;
  }
}


.nav-date {
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}

.nav-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

img {
  width: 100%;
  height: auto;
}

blockquote {
  @extend .accent;

  margin: 0;
  line-height: 1.25;
  letter-spacing: 0;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
}

.lead {
  font-size: 1.25em;
  line-height: 1.45;
}

.timeline-list {
  margin-top: 50px;
  border-left: 1px solid $border-color;

  .timeline-item {
    list-style-type: square;
    color: $border-color;
    margin: 0;
    padding: 0;
    margin-left: -27px;
  }

  .timeline-image{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: -150px;
    top: -23px;
    border-radius: 6px;

    svg {
      background-color: $alt;
      width: 120px;
    }
  }
}

@media screen and (min-width: 767px) {
  .timeline-list {
    margin-left: 150px;
  }

  .timeline-item {
    position: relative;
    min-height: 90px;
  }

  .sets {
    margin: 25px auto;
    width: 300px;
  }
}

.highlight {
  text-align: center;
  margin-bottom: 50px;

  .highlight-big {
    @extend .accent;
    margin: 0;
    line-height: 1;
    font-size: 5rem;
    font-style: normal;

    @media (min-width: 40em) {
        font-size: 6rem;
    }
    @media (min-width: 52em) {
        font-size: 7rem;
    }
    @media (min-width: 64em) {
        font-size: 8rem;
    }
  }

  .highlight-selector {
    line-height: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
  }
}

.hero {
  background-color: #000; //262930 #EFE9EA;
  color: #FFF;

  .grid {
    position: relative;
    margin-bottom: 50px;

    @media screen and (min-width: 767px) {
      min-height: 50vh;
    }
  }

  .hero-image {
    /*background-image: url(/img/logo-alt.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;*/
    display: inline-block;
    width: 100%;
    height: 20vh;

    svg {
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 767px) {
      position: absolute;
      top: 10%;
      left: 0;
      right: 50%;
      bottom: 10%;
      display: block;
      height: auto;
      width: auto;
    }
  }

  .hero-title {
    font-weight: 400;

    strong {
      @extend .accent;
      font-size: 2.2rem;
      line-height: 1.1;
    }

    font-size: 2.2rem;
    line-height: 1.1;

    @media screen and (min-width: 767px) {
      position: absolute;
      left: 50%;
      right: 0;
      bottom: 0;
    }
  }

}

.rect-pagination {
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
  margin: 25px auto 0;
  width: 100%;
}

.rect-pagination-item {
  transition: background-color 0.2s;
  border: 1px solid $border-color;
  border-width: 1px 1px 1px 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 1;
  padding: 25px 0;
  opacity: 1;
  transition: opacity 0.2s;
  position: relative;
}

.next {
  border-width: 1px 0px 1px 1px;
}

.prev:before {
  content: "<";
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  color: $border-color;
  font-size: 25px;
  color: $link-color;
}

.next:before {
  content: ">";
  display: block;
  position: absolute;
  right: 0;
  top: 25px;
  color: $border-color;
  font-size: 25px;
  color: $link-color;
}

footer {
  font-size: 1rem;
  text-align: center;
}

.alt {
  background-color: $alt;
  padding-bottom: 20px;
}


#circle {
  animation-duration: 10s;
  animation-name: bounceIn;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  fill: #000;
  stroke: #FFF;
  stroke-width: 12px;
}

@keyframes bounceIn {
  0% {
    transform: translate(0, 0%);
  }
  1.5% {
    transform: translate(0, 100%);
  }
  3% {
    transform: translate(0, 0%);
  }

  35% {
    transform: translate(0, 0%);
  }
  36% {
    transform: translate(0, 100%);
  }
  38% {
    transform: translate(0, 0%);
  }
}

.moments {
  border-top: 1px solid $border-alt-color;
  clear: both;
}

.moment-stamp {
  @extend .accent;

  margin-top: 20px;
  display: block;
  cursor: pointer;
  font-size: 1.75rem;
}

.moment-description {
  display: block;
  font-weight: 100;
  margin-bottom: 20px;
}

.pallet {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 5.5px;
}

.info {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: $border-alt-color;
  clear: both;
}

.anchor-card {
  position: relative;
  margin-bottom: 15px;

  &:hover {
    .anchor-title {
      background-color: transparent;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #171717;
        transition-delay: 0s;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(.19,1,.22,1);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
      }

      &:hover &:before {
        transform: scale(1,1);
      }
    }
  }

  svg {

  }
}

.anchor-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000;
  font-size: 40px;
  line-height: 1;
  right: 25%;

  padding: 6px 8px 4px 8px;

  @extend .accent;
}

.anchor-grid-image {
  margin: 0;
  padding: 0;

  svg {
    background-color: $alt;
    width: 100%;
    height: auto;
    /*fill: #222 !important;
    stroke: #222 !important;*/
   }
}

.set {

  .pagetitle {
    font-size: 60px;
    line-height: 1;
    margin: 0 0 30px 0;

    //border-bottom: 1px solid $border-color;
  }

 .colour {
    display: inline-block;
    border-width: 1px;
    border-color: #262626;
    border-style: solid;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.module {
  border-top: 1px solid $border-color;
  margin-bottom: 40px;

  .module-title {
    margin: 12px 0;
    font-weight: 500;
  }
}

figure {
  margin: 0;
  padding: 0;
}

.storyboard-image {
  width: 12.5%;
  height: auto;
  border: 1px solid #000;
}
