---
---

$body-background: #FFF; //#E9EAEA;
$body-color: #0D0E0F; //#000; // #2B2E33; 3D3F45
$border-color: rgba(0,0,0,0.25);
$border-alt-color: rgba(255,255,255,0.25);
$body-muted: #5E5E5E;
$link-color: #000; //#0922ec; //#3778FF; //#0922ec;
$alt: #F5F4EF; // #EDEDED;
$color-selection: #000;

@import 'flavored-reset-and-normalize';
@import 'bootstrap-grid';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
@media screen and (min-width: 1200px) {
  .container-fluid {
      padding: 0 30px !important;
  }
}

@media screen and (min-width: 767px) {
  .set-details .module-inner {
    padding-left: 25%;
    padding-top: 10px;
    position: relative;

    .module-title {
      position: absolute;
      left: 0;
      width: 25%;
    }
  }
}

.text-muted {
  color: lighten($body-color, 50%);
  font-weight: 100;
}

.inverted {
  background-color: #000;
  color: #FFF;

  a,
  a:hover {
    color: #FFF;

    em,
    .text-link {
      color: #FFF;
    }
  }

  .module {
    color: #777;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }

  .module-title {
    color: #777;
  }
}

.set .inverted {
  margin-botom: 30px;
}

footer .inverted {
  padding: 30px 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: $body-background; //#F7F7F7;
  color: $body-color; //#262930;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
}

li p {
    font-size: 1em;
    -webkit-hyphens: auto
}

cite {
  font-style: italic;
}

h1,h2,h3,h4,p,ul {
  margin: 0 0 1em;
  padding: 0
}

h1,h2,h3 {
  line-height: 1.1;
  margin: 0;
}

h1,h2 {
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3em;
}

h4 {
  margin: 1.5em 0 .5em;
  font-size: 1.1em
}

.missing {
  background-color: #505050;
  color: #FFF;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 6px;
}

@media screen and (min-width: 769px) {
  body {
    font-size: 17px;
    line-height: 1.65;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 19px;
    line-height: 1.70;
  }
}

.set-image svg {
  width: 100%;
  height: 100%;
  display: block;

  path {
    //fill: #FFF !important;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
  }
}

.set-fragments {
  z-index: 100;
  position: relative;
  display: block;
  float: left;
  width: 100%;

  @media screen and (min-width: 769px) {
    margin-top: -140px;
  }
}

a {
  color: $link-color; //#004fb6;
  text-decoration: none;

  .text-link, em {
    font-style: normal;
    color: $link-color;
    border-bottom: 1px solid lighten($border-color, 50%);
    transition: all .22s ease-out;

    &:after {
      content: "→";
      margin-left: 5px;
      margin-right: 5px;
      transition: all .22s ease-out;
    }

    &:hover {
      &:after {
        margin-left: 9px;
        margin-right: 1px;
      }
    }
  }

  &:active, &:focus, &:hover {
    .text-link, em {
      color: $link-color;
      border-bottom: 1px solid $link-color;
    }
  }
}

.pagetitle {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
  margin: 0;

  span {
    font-size: 2rem;
    color: $body-muted;
    line-height: 1;
    display: block;
    margin: 0;
    padding: 0;
  }
}

.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 15px;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.accent {
  font-weight: 700;
  letter-spacing: -2px;
}

ul {
  list-style: square;
  margin-left: 1.25rem;
}

.posts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scrollable {
  .posts-list {
    width: auto;
    display: flex;
    margin: 0 -15px;
  }

  .posts-listitem {
    flex: 0 0 auto;
    display: inline-block;
    width: 75vw;
    background-position: center center;
    border-right: 1px solid $border-color;
    padding: 0 15px;

    @media screen and (min-width: 767px) {
      width: 30vw;
    }

  }

  .posts-list .posts-listitem:first-child {
    //padding-left: 0;
  }

  .posts-list .posts-listitem:last-child {
    border: 0;
    //padding-right: 0;
  }
}

.post-image {
  background-color: #000;
}

.many {
  .post-teaser {
    position: relative;
    padding-left: 25%;
  }

  .post-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
  }

  .post-text {
    padding-left: 10px;
  }

}

.active {
  background-color: red;
}

.post-link {
  position: relative;
  display: block;
}

.post-meta {
  font-size: 75%;
  line-height: 1;

  strong {
    font-size: 150%;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    width: 100%;
    overflow: hidden;
    display: block;
    line-height: 1.2;
  }
}

.post-teaser .module {
  margin-bottom: 20px;
  border-top: 0;
}

.page-fragmenten .post-teaser .module {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
}

::selection {
  background: #232220;
  color: #fff;
}

.container-fluid {
  padding: 0 10px;
}

.trivia  {

  counter-reset: trivia-counter;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0 0 0 75px;
      list-style: none;
      position: relative;

      &:before {
      	content: counter(trivia-counter, decimal-leading-zero);
      	counter-increment: trivia-counter;
        font-weight: 100;
        font-size: 3rem;
        line-height: 1;
        color: #CCC;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translate(-20px, 0);
        transition: all 2s ease;
      }

      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid #ccc;
        width: 0%;
        margin: 50px auto;
        transition: all 2.5s ease;
      }

      &.visible {

        &:before {
          // counter
          transform: translate(0, 0);
          opacity: 1;
        }

        &:after {
          // line
          width: 20%;
        }
      }
    }
  }
}

.site-header {
  background-color: #000;
  color: #FFF;
}

.site-home {
  float: left;
  position: relative;
  padding: 9px 10px 9px 50px;
  font-size: 20px;
  color: #FFF;

  &:before {
    content: " ";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/img/logo-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 35%;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.site-nav {
  float: right;

  a {
    display: inline-block;
    padding: 10px;
    color: #FFF;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #fff;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transition: -webkit-transform 0.1s;
      transition: transform 0.1s;
    }

    &:hover {
      &:before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
    }
  }
}

.site-title {
  font-weight: bold;
  text-transform: lowercase;
  margin: 0;
  display: block;
}

dl {
  border: 0;
  border-style: solid;
  border-top-width: 1px;
  border-color: $border-color;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

dt {
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0 15px 0;
  font-weight: 100;
}

dd {
  padding: 0;
  margin: 0;
  position: relative;
  // margin-left: 25%;
}

.block-title {
  font-weight: 300;
  color: $body-muted;
  text-transform: uppercase;
}

.videoWrapper {
	position: relative;
	padding-top: 25px;
	height: 0;
  margin-bottom: 10px;
  background-image: url(/img/loading.svg);
}

.ratio_4_3 {
	padding-bottom: 75%;
}

.ratio_16_9 {
	padding-bottom: 56.25%;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.videoWrapper iframe.ready {
  opacity: 1;
}

.post-title {
  color: $body-color;
  font-size: 2.5rem;
  margin: 0 0 20px 0;
  line-height: 1;
  //border-bottom: 1px solid $border-color;
}

.post {

  .set-image,
  .anker-image {
    max-width: 150px;
    margin:0 auto;
    padding: 0;

    svg {
      width: 100%;
      height: 100%;
     }
  }

}

.anker .anker-image {
  svg {
    width: 100%;
    height: auto;
  }
}

.set-title,
.anker-name {
  display: block;
  text-align: center;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.anker-description {
  border-bottom: 1px solid $border-color;
}

dl > .anker-description:last-child {
  border: 0px;
}

.set.compact {
  padding-left: 20%;
  position: relative;
  height: 55px;

  .set-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 55px;
  }

  .set-title {
    text-align: left;
    margin-left: 10px;
  }
}

.post-date {
  display: inline-block;
  clear: both;
  font-weight: 300;
  font-size: 1.5rem;
}

.set-colors {
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    width: 12.5%;
    display: list-item;
    text-align: -webkit-match-parent;

    span {
      display: inline-block;
      float: left;
      width: 100%;
      height: 1em;
      text-indent: -9999px;

      &:hover {
        background-image: none;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      }
    }

    &:first-child span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child span {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}


img {
  width: 100%;
  height: auto;
}

blockquote {
  margin: 0;
  line-height: 1.25;
  letter-spacing: 0;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.25rem 2.5rem;
  font-weight: 200;
  position: relative;

  &:before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 4rem;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:0;
  }

  &:after{
  /*Reset to make sure*/
    content: "";
  }
}

.source {
  color: $body-muted;
  font-size: 0.95rem;
  text-align: center;
  padding: 0 20%;

  &:before {
    content: "— ";
    display: inline;
  }
}

.lead {
  font-size: 1.5rem;
  line-height: 1.45;
  margin-bottom: 1.5rem;
  font-weight: 300;

  @media screen and (min-width: 1200px) {
    font-size: 1.75rem;
    line-height: 1.45;
    margin-bottom: 1.5rem;
  }
}

.current-nav {
  background-color: $body-background;
  color: $body-color;
}

.nav-title {
  font-weight: bold;
}

.nav-meta {
  font-size: 75%;
  font-weight: normal;
}
f
.post .f-fragmenten,
.page-fragmenten .nav-fragmenten,
.page-ankers .nav-ankers,
.anker .nav-ankers,
.page-sets .nav-sets,
.set .nav-sets,
.page-over .nav-over {
  @extend .current-nav;
}

.timeline-list {
  margin-left: 150px;
  margin-top: 50px;
  border-left: 1px solid #000;

  .timeline-item {
    list-style-type: square;
    color: #000;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    min-height: 125px;

    &:hover {
      color: #DDD;

      svg {
        transform: scale(1.1, 1.1);
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        z-index: 999;
      }
    }
  }

  .timeline-image{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: -150px;
    top: -23px;
    border-radius: 6px;

    svg {
      width: 120px;
      background-color: $alt;
      transition: all 0.2s;
      border-radius: 8px;
    }
  }
}

@media screen and (min-width: 767px) {
  .timeline-list {
    margin-left: 50%;
  }

  .sets {
    margin: 25px auto;
    width: 33%;
  }
}

.highlight {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1, 1.1);

    .highlight-selector {
      font-weight: 700;
    }
  }

  .highlight-big {
    @extend .accent;
    margin: 0;
    line-height: 1;
    font-size: 5rem;
    font-style: normal;

    @media (min-width: 40em) {
        font-size: 6rem;
    }
    @media (min-width: 52em) {
        font-size: 7rem;
    }
    @media (min-width: 64em) {
        font-size: 8rem;
    }
  }

  .highlight-selector {
    line-height: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15px;
  }
}

.hero {
  background-color: #000;
  color: #FFF;
  overflow: hidden;
  margin-bottom: 50px;

  .grid {
    position: relative;
    padding-top: 20px;

    @media screen and (min-width: 769px) {
      min-height: 50vh;
    }
  }

  .hero-image {
    display: inline-block;
    width: 100%;
    height: 20vh;

    svg {
      width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 769px) {
      position: absolute;
      top: 10%;
      left: 0;
      right: 50%;
      bottom: 10%;
      display: block;
      height: auto;
      width: auto;
    }
  }

  .hero-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.1;
    display: block;
    margin: 20px 10px 20px 10px;
    text-align: center;

    strong {
      line-height: 1.1;
    }

    @media screen and (min-width: 769px) {
      font-size: 2rem;
      position: absolute;
      left: 50%;
      right: 0;
      bottom: 0;
      text-align: left;

      strong {
        font-size: 3.5rem;
      }
    }
  }

}

.rect-pagination {
  //background-color: $alt;
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
  margin: 0 auto;
  width: 100%;
}

.rect-pagination-item {
  transition: all 0.25s;
  border: 1px solid $border-color;
  border-width: 1px 1px 1px 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.2s;
  position: relative;
  padding: 30px 0;
  margin-top: 30px;

  &:before {
    background-color: #fff;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
  }

  &:hover {
    color: #FFF;

    &:before {
      background-color: #000;
      width: 100%;
    }
  }

}

.next {
  border-width: 1px 0px 1px 1px;
}

footer {
  margin: 0;
  font-size: 1rem;
  position: relative;
  padding: 30px 0;

  .module-title {
    font-weight: bold;
  }

  &.inverted .module {
    border-top: 0;
  }
}

.btn-inverse {
  display: inline-block;
  border: 1px solid #000;
  background-color: #FFF;
  color: #000;
  padding: 2px 5px;
  transition: all 0.2s;
  border-radius: 1px;
  color: #000 !important;

  &:hover {
    background-color: #000;
    color: #FFF !important;
    border-color: #000;
  }
}

.alt {
  background-color: $alt;
  padding: 10px;
  margin-bottom: 20px;

  p:last-child {
    margin-bottom: 0;
  }
}


#circle {
  animation-duration: 10s;
  animation-name: bounceIn;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  fill: #000;
  stroke: #FFF;
  stroke-width: 12px;
}

@keyframes bounceIn {
  0% {
    transform: translate(0, 0%);
  }
  1.5% {
    transform: translate(0, 100%);
  }
  3% {
    transform: translate(0, 0%);
  }

  35% {
    transform: translate(0, 0%);
  }
  36% {
    transform: translate(0, 100%);
  }
  38% {
    transform: translate(0, 0%);
  }
}

.moments {

  .moment {
    position: relative;
    padding-left: 80px;
  }

  .moment-link:hover {
    cursor: pointer;
  }

  .moment-stamp {
    top: 0;
    left: 0;
    position: absolute;
  }

  &.size-2 {

    .moment {
      width: 50%;
      float: left;
      padding: 0;
    }

    .moment-stamp {
      position: relative;
    }
  }

   &.size-1 {

     .moment {
       padding: 0;
       text-align: center;
     }

     .moment-stamp {
       position: relative;
       text-align: center;
     }
   }
}

.ankers {

  .anker {
    position: relative;
    padding-left: 20%;
    height: 75px;
  }

  .anker-image {
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    height: 55px;
  }

  .anker-name {
    text-align: left;
    margin-left: 10px;
  }

  &.size-1 {

    .anker {
      padding: 0;
      min-height: inherit;
    }

    .anker-image {
      position: relative;
      width: 100%;
      height: auto;
    }

    .anker-name {
      text-align: center;
      margin: 0;
    }

  }
}
.moment-stamp {
  @extend .accent;

  cursor: pointer;
  font-size: 0.85rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid $border-color;
  margin-bottom: 10px;
  line-height: 1;
  padding: 4px;
  min-width: 70px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.2px;

  &:before {
    content: " ";
    background-image: url(/img/fastforward.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-position-y: 3px;
    width: 13px;
    height: 0.85rem;
    display: inline-block;
  }

  &:hover {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    transition: all 0.25s ease;
  }
}

.moment-inline {
  @extend .accent;

  cursor: pointer;
  font-size: 1rem;
  display: inline-block;
  background-color: $body-color;
  border: 1px solid $border-color;
  color: #FFF !important;
  line-height: 1;
  padding: 3px 5px 2px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 1px;

  &:before {
    content: " ";
    background-image: url(/img/fastforward.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-position-y: 3px;
    width: 13px;
    height: 0.85rem;
    display: inline-block;
  }
}

.moment-description {
  display: block;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: left;
}

.pallet {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 5.5px;
}

.info {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: $border-alt-color;
  clear: both;
}

.anker-card {
  position: relative;
  margin-bottom: 20px;

  .bottom {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 40%;
  }

  .anker-title {
    padding: 6px 8px 2px 8px;
    z-index: 1;
    color: #000;
    font-size: 2rem;
    transition: color 0.5s ease;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    font-weight: 700;
    line-height: 1.4;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      transition-delay: 0s;
      transition-duration: .6s;
      transition-timing-function: cubic-bezier(.19,1,.22,1);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transform: scale(1,1);
      transform: scale(0,1);
      z-index: -1;
    }
  }

  &:hover {
    .anker-title {
      background-color: #000;
      color: #FFF;

      &:before {
      /*  -webkit-transform: scale(1,1);
        transform: scale(1,1);*/
      }

    }
  }
}

.anker-grid-image {
  margin: 0;
  padding: 0;

  svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
   }
}

.anker-grid-tile {
   transition: all 0.2s;
   padding: 10px;
   border: 1px solid $border-color;
   margin-bottom: 20px;

  &:hover {
     -webkit-transform: scale(1.05,1.05);
     transform: scale(1.05,1.05);
     box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}

.nav-date {
  color: #707070;
}

.colour {
  display: inline-block;
  border-width: 1px;
  border-color: #262626;
  border-style: solid;
  position: relative;
  width: 0.7rem;
  height: 0.725rem;
  border-radius: 50%;
}

.module {
  clear: both;
  border-top: 1px solid $border-color;
  margin-bottom: 20px;

  .module-title {
    margin: 5px 0 10px 0;
    font-weight: 500;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.post {
  blockquote {
    font-size: 1.03rem;
    font-weight: 100;
  }
}

figure {
  margin: 0;
  padding: 0;
}

.storyboard-image {
  width: 12.5%;
  height: auto;
  border: 1px solid #000;
}

.set-icon svg {
  width: 100%;
  height: 100px;
}

.post-thumb {
  padding-top: 56.25%;
  background-position: center center;
  background-size: 100%;
  transition: opacity .25s ease-out;

  &:hover {
    opacity: 0.75;
  }
}

.no-fragments {
  @extend .lead;
  text-align: center;
  margin: 20px 0 40px 0;
  color: $body-muted;
}

.text {
  max-width: 820px;
}

.anum-group {
  letter-spacing: 0;
  text-align: center;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.anum {
  display: inline-block;
  width: 33px;
  height: 70px;
  text-indent: -99999px;
  background-image: url(/img/numbers.svg);
  background-position-y: 0;
  background-repeat: no-repeat;
  -webkit-transition:background-position .1s ease-in;
  -moz-transition:background-position .1s ease-in;
  -o-transition:background-position .1s ease-in;
  transition:background-position .1s ease-in;
}

@for $i from 0 through 9 {
  .anum--#{$i} {
    background-position-y: -(($i * 70px));
    animation: counter#{$i} 2s + ($i * 0.25s);
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
  }

  @keyframes counter#{$i} {
    0% {
      @if $i <= 5 {
        background-position-y: 100%;
      }
      @else {
        background-position-y: 0%;
      }
    }
    100% {
      background-position-y: -(($i * 70px));
    }
  }
}

.footnote {
  /* a single footnote link */
  font-size: 0.8rem;
  color: $body-muted;
}
.footnotelist {
  /* entire footnote section */
  list-style-type: decimal;
  margin-left: 30px;
}

.footnotelist .footnotebody {
  /* a single footnote body  */
  font-size: 0.8rem;
  color: $body-muted;
}

.footnotelist .backlink {
  /* backlink to the footnote link */
  font-size: 0.5rem;
  color: #DDD;
}

.twitter-nick {

  &:before {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(/img/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-right: 6px;
  }
}

.error {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

.sets-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}

.set-link {
  background-color: #F5F4EF;
  padding: 6px 9px;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
}

.set-link:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

.set-visual {
  padding-top: 62.5%;
  background-image: url(/img/interieurs/1953.svg);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 90vh;
}

.set-title {

}
/*
.set-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.set-grid-item {
  width: 50%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    flex: 1;
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
  }
}

.set-grid-item-text {
  width: 25%;
  flex-grow: 1;
  background: #93806c1a;
  position: relative;

  .text-link {
    position: absolute;
    bottom: 0;
  }
}

.set-grid-item-image {
  width: 75%;
  flex-grow: 1;
}
*/

.set-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.set-list-item-title {
  position: relative;
  display: inline-block;
  padding-bottom: 0.25rem;
  margin-bottom: 2.5rem;
  transition: all 1s ease;

  &:before {
    background-color: #000;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.set-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    border-left: 1px solid #ccc;
    bottom: 0;
    height: 50px;
    left: 50%;
  }
}

.set-list-item-image {
  width: 50%;
  flex-grow: 1;

  svg {
    width: 100%;
    height: auto;
  }
}

.set-list-item-text {
  width: 50%;
  padding-right: 2rem;
}

.set-list-item-intro {
  transition: all 2s ease;
}

.set-list-item.odd {
  .set-list-item-image {
    order: 0;
  }
  .set-list-item-text {
    order: 1;
    padding-left: 2rem;
  }
}

.set-list-item.visible {
  .set-list-item-title,
  .set-list-item-intro {
    margin-left: -1rem;
  }
}

.set-list-item.even {

  .set-list-item-text {
    text-align: right;
  }
}
