---
layout: page
---

<article class="set set-{{page.title}}">

<h1 class="pagetitle">{{ page.title }}</h1>

{% if page.icon != nil %}
<div class="col-1-2">
<div class="module">
<figure class="anchor-image">
  {% include {{page.icon}} %}
</figure>
</div>
</div>
{% endif %}

{% if page.birth != nil %}
<div class="col-1-4">
<div class="module">
<p class="module-title">Geboren op</p>
{{page.birth}}
</div>
</div>
{% endif %}

{% if page.bio != nil %}
<div class="col-1-4">
<div class="module">
<p class="module-title">Bio</p>
{{page.bio}}
</div>
</div>
{% endif %}


{% if page.quotes.size > 0 %}
<div class="col-1-2">
<div class="module">
<p class="module-title">Quote</p>
{% for quote in page.quotes %}
  <blockquote>
  {{ quote.quote }}
  </blockquote>
  <p>{{ quote.source }}</p>
{% endfor %}
</div>
</div>
{% endif %}

<div class="grid">
  <h3 class="block-title">Trivia</h3>
  {{ content }}
</div>

<div class="grid">
  <h3 class="block-title">Fragmenten</h3>
  <div class="scrollable">
    <ul class="posts-list">
      {% for post in site.posts reversed %}
        {% for anker in post.ankers %}
          {% if anker == page.title %}
          <li class="posts-listitem {% if page.url == post.url %}post-listitem--active{% endif %}">
            {% assign youtube = post.media[0] %}
            {% include post.html url=post.url youtubeid=youtube.id date=post.date title=post.title set=post.decor %}
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="grid">
  <div class="rect-pagination">
    <div class="rect-pagination-item prev">
      {% if page.previous.url %}
      <a href="{{page.previous.url}} ">
        <span class="nav-title">{{page.previous.title}}</span>
      </a>
      {% endif %}
    </div>

    <div class="rect-pagination-item next">
      <a href="{{page.next.url}}">
        <span class="nav-title">{{page.next.title}}</span>
      </a>
    </div>
  </div>
</div>
