---
layout: default
---

{% include subnav.html %}



<div class="container-fluid">
  <article class="post set-{{page.decor}}">
    <div class="video">
      <div class="row">
      <div class="col-sm-12">
        <h1 class="pagetitle">{{ page.title | escape }}</h1>
      </div>
      <div class="col-sm-8">
        {% capture posttime %}{{page.date | date: '%s'}}{% endcapture %}
        {% assign posttime = posttime | plus: 0 %}
        {% if posttime > 1010361600 %}
          {% assign ratio = "16_9" %}
          {% else %}
          {% assign ratio = "4_3" %}
        {% endif %}
        {% if page.media[0].type == "youtube" %}
          {% assign youtube = page.media[0] %}
          {% include youtube.html youtubeid=youtube.id starttime=youtube.starttime ratio=ratio%}
        {% endif %}
        {% if page.media[0].type == "embed" %}
          {{ page.media[0].code }}
        {% endif %}
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="module">
              <p class="module-title">Uitzenddatum</p>
                <span class="post-date">
                  <span class="day">{{ page.date | date: "%d" }}</span>
                  <span class="aside">
                    <span class="month-year">
                      <!-- Whitespace added for readability -->
                      {% assign m = page.date | date: "%-m" %}
                      {% case m %}
                        {% when '1' %}januari
                        {% when '2' %}februari
                        {% when '3' %}maart
                        {% when '4' %}april
                        {% when '5' %}mei
                        {% when '6' %}juni
                        {% when '7' %}juli
                        {% when '8' %}augustus
                        {% when '9' %}september
                        {% when '10' %}oktober
                        {% when '11' %}november
                        {% when '12' %}december
                      {% endcase %}
                      {{ page.date | date: "%Y" }}
                    </span>
                    <span class="time">
                      {{ page.hour }}
                    </span
                  </span>
                </span>
            </div>
          </div>
        </div>
          {% if page.ankers.size > 1 %}
            {% include set-list.html %}
            {% include anker-list.html %}
          {% else %}
            <div class="row">
            {% if page.decor %}
              <div class="col-xs-6">
               {% include set-list.html %}
              </div>
            {% endif %}
            {% if page.ankers %}
              <div class="col-xs-6">
                {% include anker-list.html %}
              </div>
            {% endif %}
            </div>
          {% endif %}
          {% if page.moments %}
            <div class="row">
              <div class="col-xs-12">
                {% include moment-list.html %}
              </div>
            </div>
          {% endif %}
          {% if content.size > 1 %}
          <div class="row">
            <div class="col-xs-12">
            <div class="info">
              <div class="module">
                <p class="module-title">Info</p>
                  {{content}}
                </p>
              </div>
            </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </article>
</div>
