---
layout: page
---

<article class="set set-{{page.title}}">

<h1 class="pagetitle">{{ page.title }}</h1>

<div class="grid">

{% if page.used != page.title %}
  <div class="col-1-3">
  <div class="module">
  <p class="module-title">Uitzenddatum</p>
  <p>{{page.used}}</p>
  </div>
  </div>
{% endif %}

{% if page.kleuren %}
  <div class="col-1-3">
  <div class="module">
  <p class="module-title">Kleurenpalet</p>
  {% for kleur in page.kleuren %}
  <span style="background-color: {{kleur}}" class="colour"></span>
  {% endfor %}
  </div>
  </div>
{% endif %}

{% if page.icon %}
  <div class="col-1-3">
  <div class="module">
  <p class="module-title">Logo</p>
  <figure class="set-icon">
    {% include {{page.icon}} %}
  </figure>
  </div>
  </div>
{% endif %}

{% if page.generiek %}
  <div class="col-1-2">
  <div class="module">
  <p class="module-title">Generiek</p>
  {{page.generiek}}
  </div>
  </div>
{% endif %}

{% if page.decor %}
  <div class="col-1-2">
  <div class="module">
  <p class="module-title">Decor</p>
  {{page.decor}}
  </div>
  </div>
{% endif %}

</div>

<div class="grid">

  <div cass="col-1-8">
  <div class="module">
  <p class="module-title">Trivia</p>
  {{content}}
  </div>
  </div>

  {% if page.memo %}
    <div class="col-1-4">
    <div class="module">
    <p class="module-title">Historische uitzendingen</p>
    {{page.memo}}
    </div>
    </div>
  {% endif %}

</div>

<div class="module">
  <p class="module-title">Fragmenten</p>

  <div class="scrollable">
    <ul class="posts-list">
      {% for post in site.posts reversed %}
        {%if post.decor == page.title %}
        <li class="posts-listitem {% if page.url == post.url %}post-listitem--active{% endif %}">
          {% assign youtube = post.media[0] %}
          {% include post.html url=post.url youtubeid=youtube.id date=post.date title=post.title %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="rect-pagination">
  <div class="rect-pagination-item prev">
    {% if page.previous.url %}
    <a href="{{page.previous.url}} ">
      <span class="nav-title">{{page.previous.title}}</span>
    </a>
    {% endif %}
  </div>

  <div class="rect-pagination-item next">
    <a href="{{page.next.url}}">
      <span class="nav-title">{{page.next.title}}</span>
    </a>
  </div>
</div>
